@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/* Font Weights for Google Fonts */
* {
  box-sizing: border-box;
}

body {
  font-size: 14px;
  line-height: 1.5;
  font-family: "Montserrat", sans-serif;
  color: #333333;
}
@media (min-width: 1200px) {
  body {
    font-size: 16px;
    line-height: 1.5;
  }
}

a {
  transition: all 0.4s ease-out;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  color: #005194;
  text-decoration: none;
}
a:hover, a:focus {
  text-decoration: none;
  color: #005194;
}

i,
em {
  font-style: italic;
}

b,
strong {
  font-weight: 700;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

button {
  padding: 0;
  margin: 0;
  border: none;
  outline: none;
  box-shadow: none;
  background-color: transparent;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 700;
}

h1 {
  font-family: "Montserrat", sans-serif;
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 700;
  font-size: 48px;
  line-height: 1.2;
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
}

h2 {
  font-family: "Montserrat", sans-serif;
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.2;
  margin-bottom: 25px;
}
@media (min-width: 768px) {
  h2 {
    font-size: 32px;
    line-height: 1.2;
  }
}

h3 {
  font-family: "Montserrat", sans-serif;
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.2;
}

h4 {
  font-family: "Montserrat", sans-serif;
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 700;
  font-size: 22px;
  line-height: 1.2;
}

h5 {
  font-family: "Montserrat", sans-serif;
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
}

h6 {
  font-family: "Montserrat", sans-serif;
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 700;
  font-size: 17px;
  line-height: 1.2;
}
@media (min-width: 768px) {
  h6 {
    font-size: 18px;
    line-height: 1.2;
  }
}

.btn {
  transition: all 0.4s ease-out;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  font-size: 14px;
  line-height: 20px;
  min-height: 37px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  color: #fff;
  text-transform: capitalize;
  background-color: #005194;
  padding: 5px 27px 7px;
  box-sizing: border-box;
  cursor: pointer;
  outline: none;
  border: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: relative;
  border-radius: 4px;
}
.btn:hover, .btn:focus {
  color: #fff;
  background-color: #005fae;
  outline: none;
  box-shadow: none;
}

.btn-grey {
  transition: all 0.4s ease-out;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  font-size: 14px;
  line-height: 20px;
  min-height: 37px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  color: #fff;
  text-transform: capitalize;
  background-color: #005194;
  padding: 5px 27px 7px;
  box-sizing: border-box;
  cursor: pointer;
  outline: none;
  border: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: relative;
  border-radius: 4px;
}
.btn-grey:hover, .btn-grey:focus {
  color: #fff;
  background-color: #005fae;
  outline: none;
  box-shadow: none;
}

.icon-btn {
  transition: all 0.4s ease-out;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  font-size: 14px;
  line-height: 20px;
  min-height: 37px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  color: #fff;
  text-transform: capitalize;
  background-color: #005194;
  padding: 5px 27px 7px;
  box-sizing: border-box;
  cursor: pointer;
  outline: none;
  border: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: relative;
  border-radius: 4px;
  padding-right: 32px;
}
.icon-btn:hover, .icon-btn:focus {
  color: #fff;
  background-color: #005fae;
  outline: none;
  box-shadow: none;
}
@media (min-width: 992px) {
  .icon-btn {
    padding-right: 45px;
  }
}
.icon-btn:after {
  transition: all 0.4s ease-out;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  content: "";
  width: 8px;
  height: 8px;
  border: 3px solid #fff;
  border-bottom: 0;
  border-left: 0;
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%) rotate(45deg);
}
@media only screen and (min-width: 992px) {
  .icon-btn:after {
    right: 27px;
  }
}
.icon-btn:hover:after {
  right: 10px;
}
@media (min-width: 992px) {
  .icon-btn:hover:after {
    right: 20px;
  }
}

.cta-link {
  color: #005194;
  font-weight: 600;
}
.cta-link:hover {
  color: #00192e;
}

.container {
  max-width: 100%;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}
@media (min-width: 576px) {
  .container {
    max-width: 570px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 990px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1170px;
  }
}
@media (min-width: 1400px) {
  .container {
    max-width: 1170px;
  }
}

.d-none {
  display: none !important;
}

@media (min-width: 992px) {
  .d-lg-none {
    display: none !important;
  }
}

@media (min-width: 992px) {
  .d-lg-block {
    display: block !important;
  }
}

.overflow-hidden {
  overflow: hidden;
}

.sec__heading--top {
  display: inline-block;
  padding: 5px 25px;
  border-radius: 10000px;
  background-color: rgba(0, 81, 148, 0.05);
  color: #005194;
  margin-bottom: 15px;
  font-weight: 600;
}

.sec__head {
  text-align: center;
  max-width: 800px;
  width: 100%;
  margin: 0 auto 50px;
}
.sec__head--title {
  display: flex;
  align-items: center;
  justify-content: center;
}
.sec__head--title:before, .sec__head--title:after {
  content: "";
  width: 50px;
  height: 2px;
  background: #005194;
  display: inline-block;
}
.sec__head--title:before {
  margin-right: 15px;
}
.sec__head--title:after {
  margin-left: 15px;
}

header {
  position: relative;
  z-index: 99;
}
header .backdrop {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 414px;
}
header .backdrop img {
  width: 100%;
  object-fit: cover;
  height: 100%;
}
header .inner {
  align-items: center;
  position: relative;
  padding: 29px 0 25px;
  transition: 0.3s all ease;
}
header .logo {
  max-width: 200px;
  width: 100%;
  margin: 0 auto;
}
header .logo a {
  display: block;
}
header .logo img {
  height: 25px;
  width: 100%;
  display: block;
  object-fit: contain;
}
@media (min-width: 992px) {
  header .logo img {
    height: 50px;
  }
}
header .settings-wrapper input {
  font-size: 14px;
  line-height: 20px;
}
header .settings-wrapper input:focus {
  box-shadow: none;
  border: none;
}
header .breadcrumb {
  margin: 0;
  padding: 0;
}
header .breadcrumb a {
  color: #fff;
}

body:has(.blog-inner-page) header .breadcrumb {
  display: none;
}

body:has(.blog-inner-page) header .logo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.footer {
  box-shadow: 0px 0px 8px -2px rgba(0, 0, 0, 0.15);
}
.footer .custom-logo-link {
  max-width: 200px;
  width: 100%;
  display: block;
  margin: 0 auto;
}
.footer .custom-logo-link img {
  width: 100%;
  display: block;
  object-fit: contain;
}
.footer__social--links {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.footer__social--links a {
  font-size: 18px;
  line-height: 1.5;
  color: #333333;
}
.footer__social--links a:hover {
  color: #005194;
}
.footer__social--links a + a {
  margin-left: 15px;
}
.footer__bottom {
  font-size: 14px;
  line-height: 1.5;
  border-top: 1px solid rgba(51, 51, 51, 0.2);
  color: #333333;
}

#mobile__menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 90;
  background-color: #fff;
  width: 100%;
  height: 100vh;
  overflow: auto;
  padding: 31px 0;
}
#mobile__menu .container {
  text-align: center;
}
#mobile__menu .menu {
  padding: 0;
  margin: 0;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#mobile__menu .menu li {
  font-size: 16px;
  line-height: 24px;
  display: block;
  margin-bottom: 15px;
}
#mobile__menu .header__cta {
  display: flex;
  margin: 0 auto;
  max-width: 100%;
  justify-content: center;
}

#mobile__menu--screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 80;
  background-color: rgba(0, 0, 0, 0.84);
  display: none;
}

#mobile__menu--button {
  padding: 0px 0 0px 1px;
  display: inline-block;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible;
  line-height: 1;
  float: right;
  -webkit-appearance: none;
  margin-left: auto;
}
#mobile__menu--button:hover, #mobile__menu--button:focus {
  outline: none;
}

.mobile-menu-button-box {
  width: 25px;
  height: 22px;
  display: inline-block;
  position: relative;
}

.mobile-menu-button-inner {
  display: block;
  top: 50%;
  margin-top: -2px;
}

.mobile-menu-button-inner,
.mobile-menu-button-inner::before,
.mobile-menu-button-inner::after {
  width: 25px;
  height: 4px;
  background-color: #333;
  border-radius: 0;
  position: absolute;
  transition-property: transform;
  transition-duration: 0.15s;
  transition-timing-function: ease;
}

.mobile-menu-button-inner::before,
.mobile-menu-button-inner::after {
  content: "";
  display: block;
}

.mobile-menu-button-inner::before {
  top: -9px;
}

.mobile-menu-button-inner::after {
  bottom: -9px;
}

/*
 * Collapse
 */
.mobile-menu-button--collapse .mobile-menu-button-inner {
  top: auto;
  bottom: 0;
  transition-duration: 0.15s;
  transition-delay: 0.15s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.mobile-menu-button--collapse .mobile-menu-button-inner::after {
  top: -18px;
  transition: top 0.3s 0.3s cubic-bezier(0.33333, 0.66667, 0.66667, 1), opacity 0.1s linear;
}

.mobile-menu-button--collapse .mobile-menu-button-inner::before {
  transition: top 0.12s 0.3s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.15s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.mobile-menu-button--collapse.open .mobile-menu-button-inner {
  transform: translate3d(0, -10px, 0) rotate(-45deg);
  transition-delay: 0.32s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}

.mobile-menu-button--collapse.open .mobile-menu-button-inner::after {
  top: 0;
  opacity: 0;
  transition: top 0.3s cubic-bezier(0.33333, 0, 0.66667, 0.33333), opacity 0.1s 0.27s linear;
}

.mobile-menu-button--collapse.open .mobile-menu-button-inner::before {
  top: 0;
  transform: rotate(-90deg);
  transition: top 0.12s 0.18s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.15s 0.42s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.hero {
  position: relative;
  border-radius: 0 0 90px 0;
  overflow: hidden;
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.hero:after {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #eff2f8;
}
@media (min-width: 768px) {
  .hero {
    border-radius: 0 0 120px 0;
  }
}
.hero .inner {
  min-height: 100vh;
  position: relative;
  z-index: 1;
  padding: 150px 0 80px;
}
@media (min-width: 768px) {
  .hero .inner {
    padding: 150px 0 40px;
  }
}
.hero__text .description {
  font-size: 14px;
  line-height: 1.6;
}
@media (min-width: 768px) {
  .hero__text .description {
    font-size: 18px;
    line-height: 1.8;
  }
}

.dashboard-content {
  position: relative; 
}
.dashboard-content .nav {
  display: flex;
  justify-content: center;
  padding: 28px 21px;
  border-radius: 20px;
  background-color: #fff;
  margin: 0;
  box-shadow: 0px 5px 14px 0px rgba(0, 0, 0, 0.05);
}
.dashboard-content .nav .User-secheading {
  color: #2D3748;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  padding-left: 12px;
  margin: 10px 0;
}
.dashboard-content .nav ul {
  list-style-type: none;
  justify-content: center;
  margin: 0;
  padding: 0;
  width: 100%;
}
.dashboard-content .nav ul li {
  transition: all 0.2s ease-in-out;
  border-bottom: 1px solid #E5F0FB;
  transition: all 0.1s ease-in-out;
}
.dashboard-content .nav ul li a {
  padding: 18px 12px;
  width: 100%;
  display: inline-block;
  border-radius: 20px;
  font-size: 14px;
  font-weight: 600;
  line-height: 150%;
}
.dashboard-content .nav ul li a span {
  padding: 5px 5px 7.5px 5.5px;
  border-radius: 8px;
  margin-right: 12px;
  display: inline-block;
  transition: all 0.2s ease-in-out;
}
.dashboard-content .nav ul li a span svg {
  width: 24px;
}
.dashboard-content .nav ul li a span svg path {
  fill: #005194;
  transition: all 0.3s ease-in-out;
}
.dashboard-content .nav ul li a.active {
  color: #2D3748;
}
.dashboard-content .nav ul li:hover, .dashboard-content .nav ul li:has(.active) {
  background-color: #005194;
  border-radius: 10PX;
}
.dashboard-content .nav ul li:hover i::before, .dashboard-content .nav ul li:has(.active) i::before {
  color: #fff;
}
.dashboard-content .nav ul li:hover a, .dashboard-content .nav ul li:has(.active) a {
  box-shadow: 0px 5px 14px 0px rgba(0, 0, 0, 0.05);
}
.dashboard-content .nav ul li:hover a span, .dashboard-content .nav ul li:has(.active) a span {
  color: #fff;
}
.dashboard-content .nav ul li:hover a span path, .dashboard-content .nav ul li:has(.active) a span path {
  fill: #fff;
  stroke: #005194;
}
.dashboard-content .nav ul li:hover a span #chatgpt path, .dashboard-content .nav ul li:has(.active) a span #chatgpt path {
  fill: transparent;
  stroke: #fff;
}
.dashboard-content .nav ul li:last-child {
  border: none;
}
.dashboard-content .nav .need-help {
  text-align: center;
}
.dashboard-content .nav .need-help .need-help-message p {
  color: #718096;
  font-size: 13px;
  font-weight: 400;
  line-height: 150%;
}
.dashboard-content .module-title h2 {
  color: #FFF;
  font-size: 30px;
  font-weight: 700;
  line-height: 38px;
}
.dashboard-content .content-body {
  border-radius: 20px;
  background-color: #fff;
  padding: 35px;
  box-shadow: 0px 5px 14px 0px rgba(0, 0, 0, 0.05);
}

.module-heading {
  color: #2D3748;
  font-size: 20px;
  font-weight: 700;
  line-height: 26px;
}

.selector-dashboard {
  margin-bottom: 40px;
}
.selector-dashboard select {
  color: #273240;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  border-color: #BED5F3;
}
.selector-dashboard select:focus {
  box-shadow: none;
}

.btn-module .btn-dashboard {
  background-color: #005194;
  color: #FFF;
  font-size: 12px;
  font-weight: 700;
  border-radius: 8px;
  transition: all 0.2s ease-in-out;
  text-transform: uppercase;
  padding: 5px 27px;
}
.btn-module .btn-dashboard:hover {
  background-color: #fff;
  border: 1px solid #005194;
  color: #005194;
}

.input-form {
  padding: 35px 55px;
  border-radius: 10px;
  border: 1px solid #BED5F3;
  margin-bottom: 40px;
}
.input-form input, .input-form textarea {
  color: #50575E;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
}
.input-form input:focus, .input-form textarea:focus {
  box-shadow: none;
}
.input-form label {
  color: #2D3748;
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
}
.input-form .form-text {
  color: #A6ABC8;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  margin-top: 10px;
}

.prompt.Newsmaster {
  padding: 15px;
  border-radius: 10px;
  border: 1px solid #BED5F3;
  margin-top: 20px;
}

.remove-source-form {
  padding: 7px 10px;
  font-size: 20px;
  background-color: transparent;
  border: 1px solid #005194;
  color: #005194;
}
.remove-source-form:hover {
  background-color: #005194;
  color: #fff;
}

.artical-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 35px;
  border-radius: 10px;
  border: 1px solid #BED5F3;
  margin-bottom: 20px;
  box-shadow: none;
}
.artical-wrapper:focus, .artical-wrapper:hover, .artical-wrapper:focus-within, .artical-wrapper.sorting_1 {
  box-shadow: none !important;
}
.artical-wrapper:first-child {
  margin-top: 10px;
  border-top: 1px solid #BED5F3;
}
.artical-wrapper .artical-content {
  padding-right: 30px;
}
.artical-wrapper .artical-content h5 {
  color: #2D3748;
  font-size: 18px;
  font-weight: 600;
  line-height: 26.124px;
}
.artical-wrapper .artical-content p {
  color: #2D3748;
  font-weight: 400;
  line-height: 26.124px;
}
.artical-wrapper .artical-details {
  text-align: right;
}
.artical-wrapper .artical-details span {
  color: #2D3748;
  font-size: 14px;
  font-style: italic;
  font-weight: 400;
  line-height: 24.366px;
}
.artical-wrapper .artical-details .artical-controls {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
}
.artical-wrapper .artical-details .artical-controls .btn-dashboard {
  margin-right: 20px;
  font-weight: 800;
  background-color: #fff;
  color: #005194;
  border: 1px solid #005194;
  padding: 8px 15px;
  min-width: 130px;
  border-radius: 5px;
}
.artical-wrapper .artical-details .artical-controls .btn-dashboard:hover {
  background-color: #005194;
  color: #fff;
}
.artical-wrapper .artical-details .artical-controls a {
  margin-left: 10px;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: 1px solid #BED5F3;
}
.artical-wrapper .artical-details .artical-controls a:hover {
  background-color: #005194;
}
.artical-wrapper .artical-details .artical-controls a:hover i {
  color: #fff;
}
.artical-wrapper .artical-details .artical-controls a i {
  color: #005194;
}

td:has(.artical-wrapper) {
  box-shadow: none !important;
  border: none !important;
}

.instructions-list {
  height: 0;
  overflow: hidden;
}
.instructions-list.active {
  height: auto;
  overflow: auto;
}

.menu-sidebar-menu-container {
  width: 100%;
}

.blog-inner-page .prompt {
  padding: 15px 0 0 10px;
  border-radius: 10px;
  border: 1px solid #bed5f3;
  margin-bottom: 20px;
}
.blog-inner-page .prompt .given-data {
  padding: 15px;
}
.blog-inner-page .prompt .given-data p {
  color: #50575e;
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  margin: 0;
}
.blog-inner-page .generated-artical {
  padding: 15px 0 0 10px;
}
.blog-inner-page .generated-artical h3 {
  font-size: 36px;
  margin-bottom: 40px;
}
.blog-inner-page .generated-artical .generated-artical-desc h4 {
  font-size: 28px;
  margin-bottom: 15px;
}
.blog-inner-page .generated-artical .generated-artical-desc p {
  color: #50575e;
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  margin: 0;
}
.blog-inner-page .generated-artical.recent h3 {
  font-size: 28px;
  color: #666;
  display: inline;
}
.blog-inner-page .generated-artical.recent .generated-artical-desc {
  padding: 15px;
  box-shadow: 0 0.25rem 0.25rem rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  margin-top: 20px;
}
.blog-inner-page .generated-artical.recent .generated-artical-desc h2 {
  font-size: 22px;
  line-height: 30px;
  margin-bottom: 10px;
}
.blog-inner-page .generated-artical.recent .generated-artical-desc h4 {
  font-size: 22px;
  margin-bottom: 5px;
}
.blog-inner-page .generated-artical.recent .generated-artical-desc p {
  color: #50575e;
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  margin: 0;
}
.blog-inner-page .tags {
  padding-left: 15px;
  margin-top: 30px;
}
.blog-inner-page .tags h5 {
  font-size: 24px;
  text-transform: uppercase;
}
.blog-inner-page .tags .tags-items {
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
}
.blog-inner-page .tags .tags-items p {
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  padding: 5px 15px;
  border-radius: 20px;
  background-color: #c4e4ff;
}
.blog-inner-page .tags .seo-desc p {
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  margin-top: 10px;
}

.content-row {
  padding-top: 50px;
}

.recent-articals {
  border-left: 1px solid #c7c7c7;
  height: 100%;
  padding: 0 0 0 30px;
}

.block-heading {
  position: relative;
  display: inline-flex;
}
.block-heading::before {
  content: "";
  height: 3px;
  width: 40%;
  background-color: #005194;
  bottom: -5px;
  left: 0;
  border-radius: 20px;
  position: absolute;
}/*# sourceMappingURL=style.css.map */